**/__pycache__/
.vscode/
.vscode/

**/taxdump.tar.gz

/code/compute_signatures/ribo_class.py
/code/compute_signatures/unit_tests.py

input/*
!input/samples_list/
input/Brinkman_supp_files/
!input/sequence_db/toy*

output/*

profile.prof
