**/__pycache__/
.vscode/

**/taxdump.tar.gz

/code/compute_signatures/ribo_class.py
/code/compute_signatures/unit_tests.py

/figures

input/*
!input/samples_list/

output/*

references/*

profile.prof
